function Main.main 4
push constant 0
pop local 1
push constant 0
not
pop local 2
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push local 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 2
call Game.new 0
pop local 3
push local 3
call Game.run 1
pop temp 0
push local 3
call Game.dispose 1
pop temp 0
label IF_FALSE0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 0
eq
not
push local 0
push constant 130
lt
push local 0
push constant 133
gt
or
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 2
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
